{% extends  "BenskiWebsiteBundle::layout.html.twig" %}


{% block header_title %}
    <span class="glyphicon glyphicon-file"></span>
    Page
{% endblock %}

{% block content %}
<h1>Hello {{ name }}!</h1>
<hr>
{% endblock %}