{% extends 'BenskiCatalogueBundle:Sejour:layout.html.twig' %}


{% block header %}
<h1>Sejour list</h1>
{% endblock %}


{% block breadcrumb %}
{{ parent() }}
<li class="active">list</li>
{% endblock %}


{% block container_header_right %}
<a class="btn btn-primary" href="{{ path('sejour_new') }}">
   <i class="icon-plus icon-white"></i> 
   Create a new entry
</a>
{% endblock %}

{% block body -%}
<table class="table table-striped table-condensed">
   <thead>
      <tr>
         <th>Id</th>
         <th>Nom</th>
         <th>Datedebut</th>
         <th>Datefin</th>
         <th>Actions</th>
      </tr>
   </thead>
   <tbody>
        {% for entity in entities %}
         <tr>
            <td><a href="{{ path('sejour_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nom }}</td>
            <td>{% if entity.dateDebut %}{{ entity.dateDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.dateFin %}{{ entity.dateFin|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
               <div class="btn-group">
                  <a class="btn" href="{{ path('sejour_show', { 'id': entity.id }) }} ">
                     <i class="icon-eye-open"></i> Show</a>
                  <a class="btn" href="{{ path('sejour_edit', { 'id': entity.id }) }}">
                     <i class="icon-pencil"></i> Edit</a>
                     {% render(controller("BenskiContentBundle:Link:displayBindButton", { 'object' : entity })) %}
                  <button class="btn dropdown-toggle" data-toggle="dropdown">
                     Appartement 
                     <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu pull-right">
                     <li><a href="{{ path('sejour_appartement_bind', { 'id': entity.id }) }}">Ajouter appartement</a></li>
                  </ul>
               </div>
            </td>
         </tr>
        {% endfor %}
      </tbody>
   </table>


    {% endblock %}
