{% extends 'BenskiCatalogueBundle:Sejour:layout.html.twig' %}


{% block breadcrumb %}
{{ parent() }}
<li class="active">Show</li>
{% endblock %}


{% block header %}
<h1>Sejour : {{entity.nom}}</h1>
{% endblock %}


{% block body -%}
<ul class="nav nav-tabs">
   <li class="active">
      <a href="#sejour" data-toggle="tab"><i class="icon-calendar"></i> Sejour</a>
   </li>
   <li >
      <a href="#appartement" data-toggle="tab"><i class="icon-home"></i> Appartements
         <span class="label label-info">{{entity.appartements|length}}</span></a>
   </li>
   <li>
      <a href="#pack" data-toggle="tab"><i class="icon-folder-open"></i> Pack
         <span class="label label-info">{{entity.packs|length}}</span>      
      </a>
   </li>

</ul>

<div class="tab-content">
   <div class="tab-pane active" id="sejour">
      <!-- TAB-PANE --- --- --- -- --- --- --- -->
      <table class="table table-striped">
         <tbody>
            <tr>
               <th>Id</th>
               <td>{{ entity.id }}</td>
            </tr>
            <tr>
               <th>Nom</th>
               <td>{{ entity.nom }}</td>
            </tr>
            <tr>
               <th>Datedebut</th>
               <td>{{ entity.dateDebut|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
               <th>Datefin</th>
               <td>{{ entity.dateFin|date('Y-m-d H:i:s') }}</td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="tab-pane" id="appartement">
      <!-- TAB-PANE --- --- --- -- --- --- --- -->
      <div class="">
         <a class="btn btn-primary" href="{{ path('sejour_appartement_bind', { 'id': entity.id }) }}">
            <i class="icon-magnet icon-white"></i>
            Associer un appartement
         </a></div>
      <hr>

      <table class="table table-condensed">
         <thead>
         <th>Id</th>
         <th>Destination</th>
         <th>Appartement</th>
         <th>Qualite</th>
         <th>Nombre lits</th>

         <th><span class="text-info">Reservation / </span>Stock</th>
         <th>Nombre personnes</th>
         <th>Prix</th>
         <th>Actions</th>
         </thead>
         <tbody>
   {% for appart in entity.appartements %}
      {% set rowspan = appart.appartement.nombreLits%}
               <tr>
                  <td rowspan="{{rowspan}}">{{ appart.appartement.id }}</td>
                  <td rowspan="{{rowspan}}">{{ appart.appartement.destination }}</td>
                  <td rowspan="{{rowspan}}">{{ appart.appartement.nom }}</td>
                  <td rowspan="{{rowspan}}">
         {% for i in range(1, appart.appartement.qualite) %}
                        <i class="icon-star"></i>
               {% endfor %}
                     </td>
                     <td rowspan="{{rowspan}}">{{ appart.appartement.nombreLits}}</td>

                     <td rowspan="{{rowspan}}">
                        <span class="text-info">133 / </span>{{ appart.stock }}
                        <span class="label label-success commande-reserve" >101</span>
                        <span class="label label-info commande-commande" >7</span>
                        <span class="label label-warning commande-attente" >23</span>
                        <span class="label label-important commande-annule" >2</span>
                     </td>

                     <td>1 <i class="icon-user"></i></td>
                     <td>{{ appart.prixParPersonne(1)/100|number_format  }} €</td>
                     <td rowspan="{{rowspan}}">
                        <a class="btn" href="{{ path('sejour_appartement_edit', { 'appartement': appart.appartement.id, 'sejour': appart.sejour.id }) }}">
                           Edit</a>
                     </td>
                  </tr>
      {% for i in range(2, rowspan) %}
                  <tr>
                     <td>{{i}} <i class="icon-user"></i></td>
                     <td>{{ appart.prixParPersonne(i)/100|number_format  }} €</td>
                  </tr>
   {% endfor %}
   {% endfor %}

               </tbody>

            </table>
         </div>
         <div class="tab-pane " id="pack">
      <!-- TAB-PANE --- --- --- -- --- --- --- -->
      <div class="">
         <a class="btn btn-primary" href="{{ path('sejour_pack_bind', { 'id': entity.id }) }}">
            <i class="icon-magnet icon-white"></i>
            Associer un appartement
         </a></div>
      <hr>
      <table class="table table-striped table-condensed">
   <thead>
      <tr>
         <th>Id</th>
         <th>Nom</th>
         <th>Qualite</th>
         <th>Prix</th>
         <th>Actions</th>
      </tr>
   </thead>
   <tbody>
        {% for pack in entity.packs %}
         {% set pack = pack.pack %}
         <tr>
            <td><a href="{{ path('pack_show', { 'id': pack.id }) }}">{{ pack.id }}</a></td>
            <td>{{ pack.nom }}</td>
            <td>
             {% for i in range(1, pack.qualite) %}
               <i class="icon-star"></i>
               {% endfor %}
            </td>
            <td>{{ pack.prix }}</td>
            <td>
               <div class="btn-group">
                  <a class="btn" href="{{ path('pack_show', { 'id': pack.id }) }} ">
                     <i class="icon-eye-open"></i> Show</a>
                  <a class="btn" href="{{ path('pack_edit', { 'id': pack.id }) }}">
                     <i class="icon-pencil"></i> Edit</a>
               </div>
            </td>
         </tr>
        {% endfor %}
      </tbody>
   </table>
         </div>
      </div>




{% endblock %}


{% block container_header_right %}
      <div class="btn-group">
         <a class="btn " href="{{ path('sejour') }}">
            <i class="icon-chevron-left"></i> 
            Back to the list
         </a>
         <a class="btn " id="test" href="{{ path('sejour_edit', { 'id': entity.id }) }}">
            <i class="icon-pencil"></i> Edit</a>
      </a>

   </div>
{% endblock %}


{% block javascripts %}
{{ parent() }}
   <script  >
   $(function(){

      $(".commande-reserve").tooltip({placement:'bottom', title:'reserve'}  );
      $(".commande-annule").tooltip({placement:'bottom', title:'annule'}  );
      $(".commande-attente").tooltip({placement:'bottom', title:'en attente'}  );
      $(".commande-commande").tooltip({placement:'bottom', title:'commade'}  );

   });
      </script>
{% endblock javascripts %}