{% extends "::public.html.twig" %}

{% block body %}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock body %}

