{% extends 'BenskiNewsBundle:News:layout.html.twig' %}


{% block header %}
<h1>News edit</h1>
{% endblock %}


{% block breadcrumb %}
{{ parent() }}
<li class="active">edit</li>
{% endblock %}



{% block body -%}

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('news') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
