{% extends 'BenskiNewsBundle:News:layout.html.twig' %}


{% block header %}
<h1>News creation</h1>
{% endblock %}



{% block breadcrumb %}
{{ parent() }}
<li class="active">new entity</li>
{% endblock %}




{% block body -%}
    <h1>News creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('news') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
