{% extends 'BenskiCatalogueBundle::Public/layout.html.twig' %}

{% block parent_container -%}
<div class="container" >

   <div class="row">
      <div class="col-sm-12">
         <div class="blank_divider " style="height: 110px;"></div>
         <div class="row">
            <div class="col-sm-6">

               <div class="text-block  ">

                  <h2>Awesome Elements &amp; Unlimited Layouts</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas malesuada odio. Cras tellus neque, venenatis iaculis viverra vitae, consectetur a ante. Nullam quis venenatis mauris, nec egestas lacus. Etiam laoreet, felis ut ullamcorper laoreet, justo felis mollis odio, id pellentesque felis dolor eu urna.</p>
                  <p>Aliquam pulvinar accumsan dui lobortis faucibus. Fusce risus ante, venenatis sed dui in, tristique vulputate sem. Sed ut massa non magna egestas placerat sed vestibulum massa.</p>
                  <div class="blank_divider" style="height: 20px;"></div>
                  <a class="button-main button-medium" href="#" target="_blank">See All Features</a>

               </div> <div class="blank_divider " style="height: 50px;"></div>

            </div> 

            <div class="col-sm-6">

               <div class="text-block animated-content move_right animate">

                  <p class="no-margin"><img class="aligncenter no-margin-bottom size-full wp-image-547" alt="ipad-black-vert-opt" src="http://demo.alessioatzeni.com/banshee/wp-content/uploads/2013/07/ipad-black-vert-opt.png" width="600" height="570"></p>

               </div> 
            </div> 
         </div>
      </div> 
   </div>
   <div class="row" >


      <div class="col-sm-6">
         <div class="panel panel-default">
            <div class="panel-body text-center" style="background-color: ">
               Louer l’appartement du chef à des prix exceptionnels
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <div class="panel panel-default">
            <div class="panel-body text-center">
               Consulter notre document présentant toute notre organisation. En savoir plus sur Benski. <br>            <button type="button" class="btn btn-lg btn-primary">Primary</button>
            </div>
         </div>
      </div>

   </div>
   <div class="row" >


      <div class="col-sm-6">

         <div class="panel panel-default">
            <div class="pull-left text-center" style="line-height:105px;
                 text-align:center;  color: white; height: 105px; width: 100px; background-color: #428bca">
                    <span class="glyphicon glyphicon-comment" style="font-size: 50px"></span>
                 </div>
                 <div class="panel-body text-center" style="padding: 0px">

                    <p>Basic panel example</p>

                    <button type="button" class="btn btn-lg btn-primary">Primary</button>
                 </div>
            </div>
         </div>
         <div class="col-sm-6">
            <div class="panel panel-default">
               <div class="panel-body text-center">
                  <ul class="nav nav-tabs tabs-left">
                     <li class="active"><a href="#">Home</a></li>
                     <li><a href="#">Help</a></li>
                     <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                           Dropdown <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                           <li><a href="#">Action</a></li>
                           <li><a href="#">Another action</a></li>
                           <li><a href="#">Something else here</a></li>
                           <li class="divider"></li>
                           <li><a href="#">Separated link</a></li>
                        </ul>
                     </li>
                  </ul>
                  <p>Basic panel example</p>

                  <button type="button" class="btn btn-lg btn-primary">Primary</button>
               </div>
            </div>
         </div>

      </div>
   </div>
   <div style="padding: 10px"></div>
   <div class="container">
      <div class="row">
         <div class="col-sm-2 col-md-2">
            <img src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg"
                 alt="" class="img-rounded img-responsive" />
         </div>
         <div class="col-sm-4 col-md-4">
            <blockquote>
               <p>Bruce Wayne</p> <small><cite title="Source Title">Gotham, United Kingdom  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
            </blockquote>
            <p> <i class="glyphicon glyphicon-envelope"></i> masterwayne@batman.com
               <br
                  /> <i class="glyphicon glyphicon-globe"></i> www.bootsnipp.com
               <br /> <i class="glyphicon glyphicon-gift"></i> January 30, 1974</p>
         </div>
         <div class="col-sm-2 col-md-2">
            <img src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg"
                 alt="" class="img-rounded img-responsive" />
         </div>
         <div class="col-sm-2 col-md-4">
            <blockquote>
               <p>Bruce Wayne</p> <small><cite title="Source Title">Gotham, United Kingdom  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
            </blockquote>
            <p> <i class="glyphicon glyphicon-envelope"></i> masterwayne@batman.com
               <br
                  /> <i class="glyphicon glyphicon-globe"></i> www.bootsnipp.com
               <br /> <i class="glyphicon glyphicon-gift"></i> January 30, 1974</p>
         </div>
      </div>
   </div>
   <div>
   <!--<div  style="background: url({{ asset('img/bg1.jpg') }}) no-repeat center center fixed;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
         margin-top: 20px;
         padding-top: 20px;
         min-height: 1024px;
         "> -->
      <div class="container" >



         <div class="row"  >
            <div class="col-sm-12">
               <div class="page-header" style="">
                  <h1>Nos offres <small></small></h1>
               </div>
            </div>
         </div>
         <div class="row"  >
            <div class="col-sm-6">
               <div class="list-group">
                  <a href="#" class="list-group-item active">
                     <p class="pull-right" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                        font-size: 18px;
                        font-weight: 500;
                        height: 19px;
                        line-height: 19px;"> à partir de 325€
                        </p>
                        <div class="pull-left"><span class="glyphicon glyphicon-bookmark"></span> </div>

                        <h4 class="list-group-item-heading" style="padding-left: 30px">Semaine de noêl</h4>
                        <p class="list-group-item-text">Du samedi 21 Décembre 2013 au samedi 28 Décembre</p>
                     </a>
                     <a href="#" class="list-group-item ">
                        <p class="pull-right" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                           font-size: 18px;
                           font-weight: 500;
                           height: 19px;
                           line-height: 19px;"> à partir de 325€</p>
                           <p class="list-group-item-text">Du samedi 28 Décembre 2013 au samedi 4 Janvier</p>
                        </a>
                        <a href="#" class="list-group-item ">
                           <p class="pull-right" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                              font-size: 18px;
                              font-weight: 500;
                              height: 19px;
                              line-height: 19px;"> à partir de 325€</p>
                              <p class="list-group-item-text">Du samedi 28 Décembre 2013 au samedi 4 Janvier</p>
                           </a>
                           <a href="#" class="list-group-item ">
                              <p class="pull-right" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                                 font-size: 18px;
                                 font-weight: 500;
                                 height: 19px;
                                 line-height: 19px;"> à partir de 325€</p>
                                 <p class="list-group-item-text">Du samedi 28 Décembre 2013 au samedi 4 Janvier</p>
                              </a>
                              <a href="#" class="list-group-item ">
                                 <p class="pull-right" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                                    font-size: 18px;
                                    font-weight: 500;
                                    height: 19px;
                                    line-height: 19px;"> à partir de 325€</p>
                                    <p class="list-group-item-text">Du samedi 28 Décembre 2013 au samedi 4 Janvier</p>
                                 </a>
                                 <a href="#" class="list-group-item ">
                                    <p class="pull-right" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                                       font-size: 18px;
                                       font-weight: 500;
                                       height: 19px;
                                       line-height: 19px;"> à partir de 325€</p>
                                       <p class="list-group-item-text">Du samedi 28 Décembre 2013 au samedi 4 Janvier</p>
                                    </a>


                                    <a href="#" class="list-group-item ">
                                       <p class="pull-right" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                                          font-size: 18px;
                                          font-weight: 500;
                                          height: 19px;
                                          line-height: 19px;"> à partir de 325€</p>
                                          <div class="pull-left"><span class="glyphicon glyphicon-bookmark"></span> </div>

                                          <h4 class="list-group-item-heading" style="padding-left: 30px">Première semaine de Paques</h4>
                                          <p class="list-group-item-text">Du samedi 21 Décembre 2013 au samedi 28 Décembre</p>
                                       </a>
                                       <a href="#" class="list-group-item ">
                                          <p class="pull-right" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                                             font-size: 18px;
                                             font-weight: 500;
                                             height: 19px;
                                             line-height: 19px;"> à partir de 325€</p>
                                             <div class="pull-left"><span class="glyphicon glyphicon-bookmark"></span> </div>

                                             <h4 class="list-group-item-heading" style="padding-left: 30px">Deuxième semaine de Paques</h4>
                                             <p class="list-group-item-text">Du samedi 21 Décembre 2013 au samedi 28 Décembre</p>
                                          </a>

                                       </div>
                                    </div>
                                    <div class="col-sm-6 text-center">
                                       <div class="list-group">

                                          <a href="#" class="list-group-item active">
                                             <div class="row">
                                                <div class="col-xs-5 text-left">Appartement</div>
                                                <div class="col-xs-2">
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                </div>
                                                <div class="col-xs-2">
                                                   4
                                                   <span class="glyphicon glyphicon-user"></span>
                                                </div>
                                                <div class="col-xs-3"> 325 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                             </div>
                                          </a>
                                          <a href="#" class="list-group-item ">
                                             <div class="row">
                                                <div class="col-xs-5 text-left">Appartement</div>
                                                <div class="col-xs-2">
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                </div>
                                                <div class="col-xs-2">
                                                   4
                                                   <span class="glyphicon glyphicon-user"></span>
                                                </div>
                                                <div class="col-xs-3"> 385 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                             </div>
                                          </a>
                                          <a href="#" class="list-group-item ">
                                             <div class="row">
                                                <div class="col-xs-5 text-left">Appartement</div>
                                                <div class="col-xs-2">
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                </div>
                                                <div class="col-xs-2">
                                                   4
                                                   <span class="glyphicon glyphicon-user"></span>
                                                </div>
                                                <div class="col-xs-3"> 575 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                             </div>
                                          </a>
                                          <a href="#" class="list-group-item ">
                                             <div class="row">
                                                <div class="col-xs-5 text-left">Appartement</div>
                                                <div class="col-xs-2">
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                </div>
                                                <div class="col-xs-2">
                                                   6
                                                   <span class="glyphicon glyphicon-user"></span>
                                                </div>
                                                <div class="col-xs-3"> 300 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                             </div>
                                          </a>
                                          <a href="#" class="list-group-item ">
                                             <div class="row">
                                                <div class="col-xs-5 text-left">Appartement</div>
                                                <div class="col-xs-2">
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                </div>
                                                <div class="col-xs-2">
                                                   6
                                                   <span class="glyphicon glyphicon-user"></span>
                                                </div>
                                                <div class="col-xs-3"> 350 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                             </div>
                                          </a>
                                          <a href="#" class="list-group-item ">
                                             <div class="row">
                                                <div class="col-xs-5 text-left">Appartement</div>
                                                <div class="col-xs-2">
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                </div>
                                                <div class="col-xs-2">
                                                   6
                                                   <span class="glyphicon glyphicon-user"></span>
                                                </div>
                                                <div class="col-xs-3"> 450 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                             </div>
                                          </a>
                                          <a href="#" class="list-group-item ">
                                             <div class="row">
                                                <div class="col-xs-5 text-left">Studio</div>
                                                <div class="col-xs-2">
                                                   <span class="glyphicon glyphicon-star"></span>
                                                </div>
                                                <div class="col-xs-2">
                                                   4
                                                   <span class="glyphicon glyphicon-user"></span>
                                                </div>
                                                <div class="col-xs-3"> 300 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                             </div>
                                          </a>
                                          <a href="#" class="list-group-item ">
                                             <div class="row">
                                                <div class="col-xs-5 text-left">Studio</div>
                                                <div class="col-xs-2">
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                </div>
                                                <div class="col-xs-2">
                                                   4
                                                   <span class="glyphicon glyphicon-user"></span>
                                                </div>
                                                <div class="col-xs-3"> 345 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                             </div>
                                          </a>
                                          <a href="#" class="list-group-item ">
                                             <div class="row">
                                                <div class="col-xs-5 text-left">Studio</div>
                                                <div class="col-xs-2">
                                                   <span class="glyphicon glyphicon-star"></span>
                                                </div>
                                                <div class="col-xs-2">
                                                   4
                                                   <span class="glyphicon glyphicon-user"></span>
                                                </div>
                                                <div class="col-xs-3"> 400 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                             </div>
                                          </a>
                                          <a href="#" class="list-group-item ">
                                             <div class="row">
                                                <div class="col-xs-5 text-left">Appartement 3 pièces</div>
                                                <div class="col-xs-2">
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                </div>
                                                <div class="col-xs-2">
                                                   8
                                                   <span class="glyphicon glyphicon-user"></span>
                                                </div>
                                                <div class="col-xs-3"> 400 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                             </div>
                                          </a>
                                          <a href="#" class="list-group-item ">
                                             <div class="row">
                                                <div class="col-xs-5 text-left">Appartement 3 pièces</div>
                                                <div class="col-xs-2">
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                </div>
                                                <div class="col-xs-2">
                                                   8
                                                   <span class="glyphicon glyphicon-user"></span>
                                                </div>
                                                <div class="col-xs-3"> 360 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                             </div>
                                          </a>
                                          <a href="#" class="list-group-item ">
                                             <div class="row">
                                                <div class="col-xs-5 text-left">Appartement avec piscine</div>
                                                <div class="col-xs-2">
                                                   <span class="glyphicon glyphicon-star"></span>
                                                </div>
                                                <div class="col-xs-2">
                                                   8
                                                   <span class="glyphicon glyphicon-user"></span>
                                                </div>
                                                <div class="col-xs-3"> 450 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                             </div>
                                          </a>

                                       </div>

                                    </div>

                                 </div>
                              </div>

                              <div class="container" >



                                 <div class="row"  >
                                    <div class="col-sm-12">
                                       <div class="page-header" style="">
                                          <h1>Nos offres <small>step 2</small></h1>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="row"  >

                                    <div class="col-sm-6 text-center">
                                       <div class="list-group">

                                          <a href="#" class="list-group-item">
                                             <div class="row">
                                                <div class="col-xs-5 text-left">Appartement</div>
                                                <div class="col-xs-2">
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                </div>
                                                <div class="col-xs-2">
                                                   4
                                                   <span class="glyphicon glyphicon-user"></span>
                                                </div>
                                                <div class="col-xs-3"> 325 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                             </div>
                                          </a>
                                          <a href="#" class="list-group-item ">
                                             <div class="row">
                                                <div class="col-xs-5 text-left">Appartement</div>
                                                <div class="col-xs-2">
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                </div>
                                                <div class="col-xs-2">
                                                   4
                                                   <span class="glyphicon glyphicon-user"></span>
                                                </div>
                                                <div class="col-xs-3"> 385 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                             </div>
                                          </a>
                                          <a href="#" class="list-group-item ">
                                             <div class="row">
                                                <div class="col-xs-5 text-left">Appartement</div>
                                                <div class="col-xs-2">
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                </div>
                                                <div class="col-xs-2">
                                                   4
                                                   <span class="glyphicon glyphicon-user"></span>
                                                </div>
                                                <div class="col-xs-3"> 575 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                             </div>
                                          </a>
                                          <a href="#" class="list-group-item ">
                                             <div class="row">
                                                <div class="col-xs-5 text-left">Appartement</div>
                                                <div class="col-xs-2">
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                </div>
                                                <div class="col-xs-2">
                                                   6
                                                   <span class="glyphicon glyphicon-user"></span>
                                                </div>
                                                <div class="col-xs-3"> 300 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                             </div>
                                          </a>
                                          <a href="#" class="list-group-item ">
                                             <div class="row">
                                                <div class="col-xs-5 text-left">Appartement</div>
                                                <div class="col-xs-2">
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                </div>
                                                <div class="col-xs-2">
                                                   6
                                                   <span class="glyphicon glyphicon-user"></span>
                                                </div>
                                                <div class="col-xs-3"> 350 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                             </div>
                                          </a>
                                          <a href="#" class="list-group-item ">
                                             <div class="row">
                                                <div class="col-xs-5 text-left">Appartement</div>
                                                <div class="col-xs-2">
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                </div>
                                                <div class="col-xs-2">
                                                   6
                                                   <span class="glyphicon glyphicon-user"></span>
                                                </div>
                                                <div class="col-xs-3"> 450 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                             </div>
                                          </a>
                                          <a href="#" class="list-group-item ">
                                             <div class="row">
                                                <div class="col-xs-5 text-left">Studio</div>
                                                <div class="col-xs-2">
                                                   <span class="glyphicon glyphicon-star"></span>
                                                </div>
                                                <div class="col-xs-2">
                                                   4
                                                   <span class="glyphicon glyphicon-user"></span>
                                                </div>
                                                <div class="col-xs-3"> 300 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                             </div>
                                          </a>
                                          <a href="#" class="list-group-item ">
                                             <div class="row">
                                                <div class="col-xs-5 text-left">Studio</div>
                                                <div class="col-xs-2">
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                </div>
                                                <div class="col-xs-2">
                                                   4
                                                   <span class="glyphicon glyphicon-user"></span>
                                                </div>
                                                <div class="col-xs-3"> 345 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                             </div>
                                          </a>
                                          <a href="#" class="list-group-item ">
                                             <div class="row">
                                                <div class="col-xs-5 text-left">Studio</div>
                                                <div class="col-xs-2">
                                                   <span class="glyphicon glyphicon-star"></span>
                                                </div>
                                                <div class="col-xs-2">
                                                   4
                                                   <span class="glyphicon glyphicon-user"></span>
                                                </div>
                                                <div class="col-xs-3"> 400 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                             </div>
                                          </a>
                                          <a href="#" class="list-group-item active ">
                                             <div class="row">
                                                <div class="col-xs-5 text-left">Appartement 3 pièces</div>
                                                <div class="col-xs-2">
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                </div>
                                                <div class="col-xs-2">
                                                   8
                                                   <span class="glyphicon glyphicon-user"></span>
                                                </div>
                                                <div class="col-xs-3"> 400 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                             </div>
                                          </a>
                                          <a href="#" class="list-group-item ">
                                             <div class="row">
                                                <div class="col-xs-5 text-left">Appartement 3 pièces</div>
                                                <div class="col-xs-2">
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                   <span class="glyphicon glyphicon-star"></span>
                                                </div>
                                                <div class="col-xs-2">
                                                   8
                                                   <span class="glyphicon glyphicon-user"></span>
                                                </div>
                                                <div class="col-xs-3"> 360 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                             </div>
                                          </a>
                                          <a href="#" class="list-group-item ">
                                             <div class="row">
                                                <div class="col-xs-5 text-left">Appartement avec piscine</div>
                                                <div class="col-xs-2">
                                                   <span class="glyphicon glyphicon-star"></span>
                                                </div>
                                                <div class="col-xs-2">
                                                   8
                                                   <span class="glyphicon glyphicon-user"></span>
                                                </div>
                                                <div class="col-xs-3"> 450 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                             </div>
                                          </a>

                                       </div>

                                    </div>

                                    <div class="col-sm-6 ">
                                       <div class="list-group">


                                          <a href="#" class="list-group-item " style="
                                             text-shadow: 0 -1px 0 #30A9A9;
                                             background-image: -webkit-gradient(linear,left 0,left 100%,from(#42CABF),to(#2FA7A7));
                                             background-image: -webkit-linear-gradient(top,#42CABF,0%,#2FA7A7,100%);
                                             background-image: -moz-linear-gradient(top,#42CABF 0,#2FA7A7 100%);
                                             background-image: linear-gradient(to bottom,#42CABF 0,#2FA7A7 100%);
                                             background-repeat: repeat-x;
                                             border-color: #32B3B3;
                                             z-index: 2;
                                             color: #ffffff;
                                             background-color: #42CACA;
                                             ">
                                                <div class="row">
                                                   <div class="col-xs-1 text-left"><span class="glyphicon glyphicon-star"></span></div>
                                                   <div class="col-xs-5 text-right">Réserver pour <b>8</b> <span class="glyphicon glyphicon-user"></span></div>

                                                   <div class="col-xs-5 text-left"> 385 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                                   <div class="col-xs-1 text-left"> <span class="glyphicon glyphicon-chevron-right"></span></div>
                                                </div>
                                             </a>
                                             <a href="#" class="list-group-item ">
                                                <div class="row">
                                                   <div class="col-xs-1 text-left"><span class="glyphicon glyphicon-star"></span></div>
                                                   <div class="col-xs-5 text-right">Réserver pour <b>7</b> <span class="glyphicon glyphicon-user"></span></div>

                                                   <div class="col-xs-5 text-left"> 385 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                                   <div class="col-xs-1 text-left"> <span class="glyphicon glyphicon-chevron-right"></span></div>
                                                </div>
                                             </a>
                                             <a href="#" class="list-group-item ">
                                                <div class="row">
                                                   <div class="col-xs-6 text-right">Réserver pour <b>6</b> <span class="glyphicon glyphicon-user"></span></div>

                                                   <div class="col-xs-6 text-left"> 385 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                                </div>
                                             </a>
                                             <a href="#" class="list-group-item ">
                                                <div class="row">
                                                   <div class="col-xs-6 text-right">Réserver pour <b>5</b> <span class="glyphicon glyphicon-user"></span></div>

                                                   <div class="col-xs-6 text-left"> 385 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                                </div>
                                             </a>
                                             <a href="#" class="list-group-item ">
                                                <div class="row">
                                                   <div class="col-xs-6 text-right">Réserver pour <b>4</b> <span class="glyphicon glyphicon-user"></span></div>

                                                   <div class="col-xs-6 text-left"> 385 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                                </div>
                                             </a>
                                             <a href="#" class="list-group-item ">
                                                <div class="row">
                                                   <div class="col-xs-6 text-right">Réserver pour <b>3</b> <span class="glyphicon glyphicon-user"></span></div>

                                                   <div class="col-xs-6 text-left"> 385 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                                </div>
                                             </a>
                                             <a href="#" class="list-group-item ">
                                                <div class="row">
                                                   <div class="col-xs-6 text-right">Réserver pour <b>2</b> <span class="glyphicon glyphicon-user"></span></div>

                                                   <div class="col-xs-6 text-left"> 385 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                                </div>
                                             </a>
                                             <a href="#" class="list-group-item ">
                                                <div class="row">
                                                   <div class="col-xs-6 text-right">Réserver pour <b>1</b> <span class="glyphicon glyphicon-user"></span></div>

                                                   <div class="col-xs-6 text-left"> 385 <span class="glyphicon glyphicon-euro"></span> par <span class="glyphicon glyphicon-user"></span></div>
                                                </div>
                                             </a>


                                          </div>

                                       </div>

                                    </div>
                                 </div>
                              </div>

{% endblock %}