{# app/Resources/views/layout.html.twig #}
{% import '::macro.html.twig' as macro %}


<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>{% block title %}Benski{% endblock %}</title>

    {% block stylesheets %}

      <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
      <link rel="stylesheet" href="{{ asset('css/supportkot.css') }}" type="text/css" />
    {% endblock %}
   </head>


   <body>

       {#{{  render(controller('BenskiCommonBundle:Administration:getMenu')) }}#}
      <div class="navbar navbar-static-top">
         <div class="navbar-inner">
            <div class="container">
               <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </a>
               <div class="nav-collapse">
                  <ul class="nav">
                     <!--<li class=""><a href="#"><i class="icon-home"></i> Accueil</a></li>-->
                     <li class=""><a href="{{path('admin_reservation')}}"><i class="icon-book"></i> Réservation</a></li>
                     <li class=""><a href="{{path('user')}}"><i class="icon-user"></i> Utilisateur</a></li>
                     <ul class="nav">
                        <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                              <i class="icon-calendar"></i> Catalogue<b class="caret"></b>
                           </a>
                           <ul class="dropdown-menu">

                              <li class=""><a href="{{path('destination')}}"><i class="icon-map-marker"></i> Destination</a></li>
                              <li class=""><a href="{{path('sejour')}}"><i class="icon-calendar"></i> Séjour</a></li>
                              <li class=""><a href="{{path('appartement')}}"><i class="icon-home"></i> Appartement</a></li>

                              <li class="dropdown-submenu">
                                 <a href="{{path('option')}}"><i class="icon-plus-sign"></i> Options</a>
                                 <ul class="dropdown-menu">
                                    <li class=""><a href="{{path('pack')}}"><i class="icon-gift"></i> Pack</a></li>
                                    <li class="divider"></li>
                                    <li class=""><a href="{{path('option')}}"><i class="icon-plus-sign"></i> Options</a></li>
                                    <li class=""><a href="{{path('option_optionacocher')}}"><i class="icon-plus-sign"></i> Options à cocher</a></li>
                                    <li class=""><a href="{{path('optionchoixmultiple')}}"><i class="icon-plus-sign"></i> Optionsà choix mutliple</a></li>

                                 </ul>
                              </li>
                           </ul>
                        </li>
                     </ul>
                     <ul class="nav">
                        <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                              <i class="icon-folder-open"></i> Contenu<b class="caret"></b>
                           </a>
                           <ul class="dropdown-menu">

                              <li class=""><a href="{{path('article')}}"><i class="icon-file"></i> Article</a></li>
                              <li class=""><a href="{{path('image')}}"><i class="icon-picture"></i> Image</a></li>
                              <li class=""><a href="{{path('link')}}"><i class="icon-magnet"></i> Associations</a></li>
                              <li class=""><a href="{{path('news')}}"><i class="icon-comment"></i> News</a></li>


                           </ul>
                        </li>
                     </ul>

                  </ul>           
               </div><!--/.nav-collapse -->

            </div>
         </div>
      </div>
      <div id="header" class="">
         <div class="container">
            <div class="row">
               <div class="span8">

                {% block header %}

                  <h1>Benski</h1>
                  <p>Des séjours en altitude de qualités pour la famille et les amis.</p>
                {% endblock %}
               </div>
               <div class="span4">         
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                     Connecté en tant que {{ app.user.username }} - 
                     <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                        {% else %}
                     <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                        {% endif %}
                  </div>
               </div>
            </div>
         </div>
         <div class="container-fluid" id="mainContainer">
            <div class="row-fluid">
                    {% block container %}
{% block container_header %}
                  <div id="content" class="span12">
                               {% include "::flashbag.html.twig" %}
                        <div class="row-fluid">
                           <div class="span8">
                              <ul class="breadcrumb">

                        {% block breadcrumb %}
                                 <li><a href="#">Benski.be</a> <span class="divider">/</span></li>
                                 <li><a href="#">Administration</a> <span class="divider">/</span></li>
                            {% endblock %}

                              </ul>
                           </div>
                           <div class="span4">
                              <div class="pull-right">
                                        {% block container_header_right %}
                                    {% endblock %}
                                 </div>
                              </div>  
                           </div>
                         {% endblock %}
          {% block body %}
          {% endblock %}
                        </div>
                        {% endblock %}
                     </div>

                     <hr>

                     <footer>
                        <p>Benski &AMP; Benjamin Ellis © 2013 and beyond.</p>
                     </footer>
                  </div>



  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
                  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
                  <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
                  <script type="text/javascript" src="{{ asset('js/ckeditor/ckeditor.js') }}"></script>
                  
                 


  {% endblock %}

                  </body>
               </html>
