{% macro print_stars(nbr) %}
{% if nbr != 0 %}
{% for i in 1..nbr %}
<span class="glyphicon glyphicon-star"></span>
{% endfor %}
{% endif %}
{% endmacro %}

{% macro print_stars_bs2(nbr) %}
{% if nbr != 0 %}
{% for i in 1..nbr %}
<i class="icon-star"></i>
{% endfor %}
{% endif %}
{% endmacro %}

{% macro int2prix(integer) %}
{{ integer/100|number_format(2, ',', ' ') }}
{% endmacro %}



{% macro display_option(option, pack) %}
<h4 >{{ option.nom}} 
    <span class="pull-right">
{% render(controller("BenskiContentBundle:Link:displayButton", { 'object' : option })) %}
    </span>
</h4>
<hr style="margin: 0; margin-bottom: 10px">
<p>{{ option.description}}</p>
    {% if ((option|get_class) == "Benski\\CatalogueBundle\\Entity\\Option\\OptionACocher") %}
        {{ _self.display_option_acocher(option, pack) }}
    {% elseif (option|get_class == "Benski\\CatalogueBundle\\Entity\\Option\\OptionChoixMultiple") %}
        {{ _self.display_option_choixmult(option, pack) }}
    {% else %}
    {% endif %}

{% endmacro %}

{% macro display_option_acocher(option, pack) %}
Prix de l'option : <strong>{{ _self.int2prix(pack.getPackOption(option).prix) }} €</strong>
{% endmacro %}

{% macro display_option_choixmult(option, pack) %}
<ul>
    {% for choix in option.choix %}
    <li>
        {{ choix.intitule }} : 
    <strong>{{ _self.int2prix(pack.getPackOption(option).getPrix(choix)) }}€</strong>
    </li>
    {% endfor %}
</ul>
{% endmacro %}


{% macro display_address(address) %}
    {% if address.street is not null %}
        {{ address.street }}
    {% endif %}
    {% if address.number is not null %}
        {{ address.number }}
    {% endif %}
    {% if address.city is not null %}
        <br>{{ address.city }}
    {% endif %}
    {% if address.zipCode is not null %}
        , {{ address.zipCode }}
    {% endif %}
    {% if address.country is not null %}
        <br>{{ address.country }}
    {% endif %}
{% endmacro %}