{% import '::macro.html.twig' as macro %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Benski{% endblock %}</title>

    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('css/public.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bs3/css/bootstrap.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bs3/js/bootstrap.js') }}" type="text/css" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    {% endblock %}
    </head>

    <body style="padding-top: 50px">
       {#
       {{  render(controller('BenskiCommonBundle:Administration:getMenu')) }}
#}
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="container" >

                <div class="dropdown pull-right">
                    <button class="btn btn-default dropdown-toggle" style="margin-top: 7px" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-shopping-cart" ></span>
                    Panier
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" >
                        <li ><a href="{{ path('panier_afficher') }}"><span class="glyphicon glyphicon-eye-open"></span> Afficher</a></li>
                        <li ><a href="{{ path('panier_reset') }}"><span class="glyphicon glyphicon-flash"></span> Réinitialiser</a></li>
                    </ul>
                </div>
                <div class="dropdown pull-right">
                    <button class="btn btn-primary dropdown-toggle" style="margin-top: 7px; margin-right: 7px" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user" ></span>
                    Mon compte
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" >
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li ><a href="{{ path('public_reservation') }}"><span class="glyphicon glyphicon-book"></span> Mes réservations</a></li>
                        <li ><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Déconnexion</a></li>
                        {% else %}
                        
                        <li ><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
                        <li ><a href="{{ path('fos_user_registration_register') }}"><span class="glyphicon glyphicon-pencil"></span> Inscription</a></li>
                        {% endif %}
                    </ul>
                </div>


              
                
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Benski</a>

                </div>


                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{path('benski_common_home', {'slug':'index'})}}">Home</a></li>
                        <li><a href="{{ path('public_news') }}">Actualités</a></li>
                        <li><a href="{{ path('public_article_slug_content', { 'slug': 'partenaires'}) }}">Nos partenaires</a></li>
                        <li><a href="{{ path('public_article_slug_content', { 'slug': 'contact'}) }}">Contact</a></li>

                    </ul>

                    <!-- <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>-->

                </div><!-- /.navbar-collapse -->
            </div>
        </nav>
        <div id="header" class="" style="border-bottom: 0px black solid; margin-bottom: 20px; background-color: #428bca;
             background-image: url('{{ asset('img/header-1.jpg') }}');
             background-position: center; background-repeat: repeat;
             min-height: 250px">
            <div class="container" >
                <div class="row" style="color: white; min-height: 100%;">
                    <div class="col-sm-4 ">
{% block header %}
                        <div style="
                             min-height: 250px;
                             background-color: rgba(255, 255, 255, 0.7);
                             padding: 10px 25px 10px 25px;
                             box-shadow: 8px 0px 0px rgba(0, 0, 0, 0.5);
                             text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.5);
                             color: black">
                            <h1><span class="glyphicon glyphicon-star"></span> Benski</h1>
                            <p class="lead">Des séjours en altitude de qualités pour la famille et les amis.</p>
                        </div>               
 {% endblock %}
                    </div>
                    <div class="col-sm-offset-4 col-sm-4">       


                    </div>

                </div>
            </div>
        </div>

        {% block parent_breadcrumb %}
        <div class="container">
            <ol class="breadcrumb">
            {% block breadcrumb %}
                <li><a href="#">Benski.be</a></li>
            {% endblock %}
            </ol>
        </div>
        {% endblock %}
        
        {% block parent_container %}
        <div class="container" id="mainContainer ">
            <div class="row">
            {% block container %}
                <div id="content" class="col-sm-12">
                {% block container_header %}
                {% include "::flashbag.html.twig" %}

                {% endblock %}
                {% block body %}




                {% endblock %}
                </div>
            {% endblock %}
            </div>
        </div>
        {% endblock %}
        {% block footer %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <hr>

                    <footer>
                        <p>Benski &AMP; Benjamin Ellis © 2013 and beyond.</p>
                    </footer>
                </div>
            </div>
        {% endblock %}
        </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('bs3/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/walva/functions.js') }}"></script>
        <script>
            $(function() {
                $('#myTab a:last').tab('show');
                $('#popover1').popover();
            });
        </script>
    {% block javascripts_content %}
  {% endblock %}
  {% endblock %}

    </body>
</html>