{% extends 'BenskiCommonBundle::layout.html.twig' %}

{% block title %}
Accueil - {{ parent() }}
{% endblock %}

{% block header %}
<h1>Accueil</h1>
{% endblock %}



{% block bundle_body %}

--

{% endblock %}

{% block left_menu %}
{% endblock %}