{% extends 'BenskiReservationBundle::public.html.twig' %}
{% import 'BenskiReservationBundle::macro.html.twig' as fo %}




{% block body -%}
<h1>Reservations</h1>

<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Statut</th>
            <th>Fait le</th>
            <th>Modifié le</th>
            <th>Total</th>
            <th>Solde dû</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td><a>{{ 2500+ entity.id }}</a></td>
            <td>du {{ entity.getDateDebut|date("d/m/Y") }}<br>
                au {{ entity.getDateFin|date("d/m/Y") }}</td>
            <td>{{ ('reservation.statut.'~entity.statut)|trans }}</td>
            <td>
                {% if entity.dateCreation %}{{ entity.dateCreation|date('d/m/Y') }}{% endif %} à<br>
                {% if entity.dateCreation %}{{ entity.dateCreation|date('H:i:s') }}{% endif %}
            </td>
            <td>
                {% if entity.dateModification %}{{ entity.dateModification|date('d/m/Y') }}{% endif %} à<br>
                {% if entity.dateModification %}{{ entity.dateModification|date('H:i:s') }}{% endif %}
            </td>
            <td>{{ macro.int2prix(entity.total) }} €</td>
            <td>{{ macro.int2prix(entity.getMontantRestantDu) }} €</td>
            <td>
                <a href="{{ path('public_reservation_show', { 'id': entity.id }) }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    show
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    {% endblock %}



{% block javascripts_content %}
<script type = "text/javascript" >
    $(function() {
        $('.prixParPersonne').tooltip({title: 'Les prix sont entendus par personne'});

    });
</script>
  {% endblock %}