{% extends "::public.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

{% if error %}
<div>{{ error|trans }}</div>
{% endif %}

<form class="form-horizontal" role="form" action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">{{ 'security.login.username'|trans }}</label>
        <div class="col-sm-10">
             <input type="email" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">{{ 'security.login.password'|trans }}</label>
        <div class="col-sm-10">
            <input type="password" id="password" class="form-control" name="_password" required="required" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> {{ 'security.login.remember_me'|trans }}
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="{{ 'security.login.submit'|trans }}" />
            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-default" >S'inscrire</a>
        </div>
    </div>
</form>
 
{% endblock %}