
      {% set entities = entity.packOptions() %}
<table class="table table-striped table-condensed">
   <thead>
      <tr>
         <th>Id</th>
         <th>Nom</th>
         <th>{{ "Type"|trans}}</th>
         <th>Type</th>
         <th>Actions</th>
      </tr>
   </thead>
   <tbody>
        {% for entity in entities %}
         <tr>
            <td><a href="{{ path('option_show', { 'id': entity.option.id }) }}">{{ entity.option.id }}</a></td>
            <td>{{ entity.option.nom }}</td>
            <td>{{ ("option.type."~entity.option.type)|trans }}</td>
            <td>{{ entity|get_class }}</td>
            <td>
               <ul>
                  <li>
                     <a href="{{ path('option_show', { 'id': entity.option.id }) }}">show</a>
                  </li>
               </ul>
            </td>
         </tr>
        {% endfor %}
      </tbody>
   </table>