{% extends 'BenskiReservationBundle:Paiement:layout.html.twig' %}

{% block body -%}
    <h1>Paiement edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_paiement') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
