{% extends 'BenskiCatalogueBundle:Destination:layout.html.twig' %}


{% block header %}
<h1>Destination list</h1>
{% endblock %}


{% block breadcrumb %}
{{ parent() }}
<li class="active">list</li>
{% endblock %}

{% block container_header_right %}
<a class="btn btn-primary" href="{{ path('destination_new') }}">
    <i class="icon-plus icon-white"></i> 
    Create a new entry
</a>
{% endblock %}

{% block body -%}

<table class="table table-striped table-condensed ">
    <thead>
        <tr>
            <th>Id</th>
            <th>Identifiant interne</th>
            <th>Nom</th>
            <th>Pays</th>
            <th>Publié</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td><a href="{{ path('destination_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.adminId }}</td>
            <td>{{ entity.nom }}</td>
            <td>{{ entity.pays }}</td>
            <td>{{ entity.isPublished }}</td>
            <td>
                <div class="btn-group">
                    <a class="btn" href="{{ path('destination_show', { 'id': entity.id }) }} ">
                        <i class="icon-eye-open"></i> Show</a>
                    <a class="btn" href="{{ path('destination_edit', { 'id': entity.id }) }}">
                        <i class="icon-pencil"></i> Edit</a>
                  {% render(controller("BenskiContentBundle:Link:displayBindButton", { 'object' : entity })) %}

                </div>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    {% endblock %}
