{% extends 'BenskiContentBundle::public.html.twig' %}



{% block body %}
<h1>Cette page est en construction</h1>
<hr>
<p>
    Nous faisons en sorte de rendre le contenu disponible aussi vite que possible.
</p>

{% endblock %}
