{# empty Twig template #}

 
{% extends "::public.html.twig" %}
 
{% block title %}
  Blog - {{ parent() }}
{% endblock %}
 
{% block body %}
 
  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}

 
  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block bundle_body %}
  
  {% endblock %}
 
{% endblock %}