{% extends 'BenskiUserBundle:User:layout.html.twig' %}


{% block header %}
<h1>Utilisateur</h1>
{% endblock %}


{% block breadcrumb %}
{{ parent() }}
<li class="active">list</li>
{% endblock %}




{% block body -%}
    
    
    

Hello {{ name }}!

{% endblock %}
