<a href="{{ path('catalogue_public_sejour', {'destination':destination.id}) }}"
   style="color: white; font-weight: bold; font-size: 22px;">
    <i class="fa fa-arrow-right"></i>
    {{ "marketing"|trans }}
    <i class="fa fa-arrow-left"></i>
</a>
