<a href="{{ path('catalogue_public_sejour', {'destination':destination.id}) }}"
   style="color: white">
    Réservez votre jour à l'avance et profitez de nos prix avantageux!
    <i class="fa fa-arrow-right"></i>
</a>
