{% extends "BenskiReservationBundle:Option:layout.html.twig" %}

{% block title %}
Accueil - {{ parent() }}
{% endblock %}

{% block header %}
<h1>Options Reservées</h1>
{% endblock %}


{% block breadcrumb %}
{{ parent() }}
<li><a href="{{path('option_optionreserve')}}">Type Choix Multiple</a>
   <span class="divider">/</span>
</li> 
{% endblock %}

{% block bundle_body %}
Attention, ce bloc est a définir

{% endblock %}

{% block left_menu %}
{% endblock %}