{% extends 'BenskiCatalogueBundle:AbstractOption:layout.html.twig' %}

{% block header %}
<h1>Option list</h1>
{% endblock %}

{% block breadcrumb %}
{{ parent() }}
<li class="active">list</li>
{% endblock %}


{% block body -%}
<h1>AbstractOption list</h1>

<table class="table table-striped table-condensed">
   <thead>
      <tr>
         <th>Id</th>
         <th>Identifiant interne</th>
         <th>Nom</th>
         <th>Description</th>
         <th>{{ "Type"|trans}}</th>
         <th>Explication</th>
         <th>Actions</th>
      </tr>
   </thead>
   <tbody>
        {% for entity in entities %}
         <tr>
            <td><a href="{{ path('option_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.adminId }}</td>
            <td>{{ entity.nom }}</td>
            <td>{{ entity.description }}</td>
            <td>{{ ("option.type."~entity.type)|trans }}</td>
            <td>{{ entity.explication }}</td>
            <td>
               <ul>
                  <li>
                     <a href="{{ path('option_show', { 'id': entity.id }) }}">show</a>
                  </li>
               </ul>
            </td>
         </tr>
        {% endfor %}
      </tbody>
   </table>
{% endblock %}


{% block container_header_right %}
   <a class="btn btn-primary" href="{{ path('option_optionacocher_new') }}">
      <i class="icon-plus icon-white"></i> 
      <i class="icon-check icon-white"></i> 
      new option à cocher

   </a>
   <a class="btn btn-primary" href="{{ path('optionchoixmultiple_new') }}">
      <i class="icon-plus icon-white"></i> 
      <i class="icon-list icon-white"></i> 
      new option à choix multiple

   </a>
{% endblock %}